<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Gradbena dela</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    </head>
    % import bottle
    % uporabnisko_ime=uporabnisko_ime=bottle.request.get_cookie("uporabnisko_ime")
    <body class="has-background-white-ter">
            <nav class="navbar is-success">
              <div class="container">
                <div class="navbar-brand">
                  <span class="navbar-item">
                    <span class="icon">
                      <i class="fas fa-clipboard-check"></i>
                    </span>
                        <strong>GRADBENA DELA</strong>
                  </span>
                </div>
                % if uporabnisko_ime:
                <div class="navbar-menu">
                  <div class="navbar-item">
                    <form method="GET" action="/shramba/">
                      <a class="navbar-item" href="/shramba/"><strong>Shramba</strong></a>
                    </form>
                  </div>
                </div>
                % end
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      % if uporabnisko_ime:
                        <form method="POST" action="/odjava/">
                            <button class="button is-info is-rounded is-light">Odjava</button>
                        </form>
                      % else:
                        <a class="button is-primary is-rounded" href="/registracija/">
                          <strong>Registracija</strong>
                        </a>
                        <a class="button is-light is-rounded" href="/prijava/">
                          Prijava
                        </a>
                      % end
                    </div>
                  </div>
                  <a class="navbar-item"
                    href="https://github.com/valg01/gradbena">
                    <span class="icon">
                      <i class="fab fa-github"></i>
                    </span>
                    <span>GitHub</span>
                  </a>
                </div>
              </div>
            </nav>
            <section class="section">
              {{!base}}
            </section>
    </body>
</html>