% rebase('base.html')
<!-- Main container -->
    <nav class=level>
        <div class=level-left>
            <form method="POST" action="/zamenjaj-aktualni-spisek/">
                <div class="buttons has-addons field is-horiznotal">
                    % for indeks, prostor in enumerate(prostori):
                        % if prostor == aktualni:
                            <button class="button is-primary" name="indeks" value="{{indeks}}">
                                {{prostor.ime}}
                            </button>
                        % else:
                        <button class="button" name="indeks" value="{{indeks}}">
                            {{prostor.ime}}
                        </button>   
                        %end
                        %end    
                </div>
            </form>
        </div>
        <div class="level-right">
            <!-- <div class="level-item">
                <p class="subtitle is-5">
                    <strong>123</strong> posts
                </p>
            </div> -->
                <div class="level-item">
                    <a class="button is-info" href="/dodaj-prostor/">Dodaj prostor</a>
                </div>
            </form>
        </div>
    </nav>

        <h2>Urejenje in pregled nad delom na objektu</h2>
            % if neopravljena > 4 and zamujena > 2:
                <p>{{neopravljena}} del je neopravljenih, od tega jih zamuja {{zamujena}}.</p>
            % elif neopravljena > 4 and zamujena == 2:
                <p>{{neopravljena}} del je neopravljenih, od tega 2 deli zamujata.</p>
            % elif neopravljena > 4 and zamujena == 1:
                <p>{{neopravljena}} del je neopravljenih, od tega 1 delo zamuja.</p>
            % elif neopravljena > 4 and zamujena == 0:
                <p>{{neopravljena}} del je neopravljenih, vendat Vam nobeno ne zamuja.</p>
            %elif neopravljena == 4 or neopravljena == 3 and zamujena > 2:
                <p>{{neopravljena}} dela so neopravljena, od tega jih zamuja {{zamujena}}</p>
            %elif neopravljena == 4 or neopravljena == 3 and zamujena == 2:
                <p>{{neopravljena}} dela so neopravljena, od tega 2 deli zamujata.</p>
            %elif neopravljena == 4 or neopravljena == 3 and zamujena == 1:
                <p>{{neopravljena}} dela so neopravljena, od tega 1 delo zamuja.</p>
            %elif neopravljena == 4 or neopravljena == 3 and zamujena == 0:
                <p>{{neopravljena}} dela so neopravljena, vendar nobeno ne zamuja.</p>
            % elif neopravljena == 2 and zamujena == 2:
                <p>2 deli sta neopravljeni in zamujata.</p>
            % elif neopravljena == 2 and zamujena == 1:
                <p>2 deli sta neopravljeni, 1 delo že zamuja.</p>
            % elif neopravljena == 2 and zamujena == 0:
                <p>2 deli sta neopravljeni.</p>
            % elif neopravljena == 1 and zamujena == 1:
                <p>1 delo je neopravljeno in zamuja.</p>
            % elif neopravljena == 1 and zamujena == 0:
                <p>1 delo je neopravljeno.</p>
            % else:
                <p>Super! Vsa dela so opravljena.</p>
            % end
            <div class="control">
                <a class="button is-link is-light is-outlined" href="/zamenjaj-aktualni-prostor/">Zamenjaj prostor!</a>
            </div>
             <ul>
                <li> <b>Opravljena dela:</b>
                    <ul>
                    % for indeks, delo in enumerate(kretenizem):
                        % if delo.opravljeno:
                            <li>{{delo.ime}}</li>
                            <form method="POST" action="/opravi/">
                                <input type="hidden" name="indeks" value="{{indeks}}">
                                <input type="submit" value="Neopravi!">
                            </form>
                        % end
                    % end
                    </ul>
                <li> <b>Neopravljena dela:</b>
                    <ul>
                    % for indeks, delo in enumerate(kretenizem):
                        % if not delo.opravljeno:
                            <li>{{delo.ime}}</li>
                            <form method="POST" action="/opravi/">
                                <input type="hidden" name="indeks" value="{{indeks}}">
                                <input type="submit" value="Opravi!">
                            </form>
                        % end
                     % end
                    </ul>
             </ul>
            <form method="POST" action="/dodaj/">
                <div class="field">
                    <div class="control has-icons-left has-icons-right">
                        <label class="label">Dodaj novo delo</label>
                        <input class="input" name="ime" type="text" placeholder="ime">
                        <input class="input" name="opis" type="text" placeholder="opis">
                        <input class="input" type="text" name="tezavnost" placeholder="težavnost">
                        <input class="input" type="number" name="cena" placeholder="cena">
                        <input class="input" type="text" name="material" placeholder="material">
                        <input class="input" type="date" id="rok" name="rok" placeholder="date">
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary is-light">Dodaj</button>
                        </div>
                    </div>
                </div>
            </form>
