% rebase('base.html')
<!-- Main container -->

    % if aktualni:
    <progress class="progress level is-large is-success" value="{{hisa.delez_opravljenih()}}" max="1">{{hisa.delez_opravljenih()}}</progress>
        <p style="text-align: center">{{hisa.delez_opravljenih() * 100}}%</p>

    <p style="text-align: center">Vaš začetni proračun je {{hisa.zacetni_proracun()}} €</p>
    <p style="text-align: center">Porabili boste {{hisa.stroski()}} €</p>
    % if hisa.proracun >= 0:
        <p style="text-align: center">Ostalo vam bo {{hisa.proracun}} €</p>
    %else:
        <p style="text-align: center; color: tomato;">Ostalo vam bo {{hisa.proracun}}€</p>
    %end


    <table class="table is-hoverable" style="margin-left:auto; margin-right:auto">
        <thead>
            <td><label class="label">Spremeni proračun</label>
            <form method="POST" action="/spremeni-proracun/">
                <td></td>
                <td>
                    <div class="control has-icons-left">
                        <input class="input is-small" name="sprememba_proracuna" type="number" placeholder="vnesi spremembo">
                        <span class="icon is-small is-left">
                            <i class="fa fa-money-bill"></i>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="field is-grouped">
                        <div class="control is-hovered">
                            <button class="button is-primary is-light is-small is-rounded">Spremeni</button>
                        </div>
                    </div>
                </td>
                </div>
            </form>
            </td>
        </thead>
    </table>

    
    <nav class=level>
        <div class=level-left>
            
                <div class="buttons has-addons field is-horizontal">
                    % for indeks, prostor in enumerate(prostori):
                        % if prostor == aktualni:
                        <form method="POST" action="/zamenjaj-aktualni-prostor/">
                            <button class="button is-primary" name="indeks" value="{{indeks}}">
                                {{prostor.ime}}
                                <span class="tag is-rounded">{{prostor.stevilo_zamujenih()}}</span>
                            </button>
                        </form>
                        % else:
                        <form method="POST" action="/zamenjaj-aktualni-prostor/">
                            <button class="button is-primary is-light" name="indeks" value="{{indeks}}">
                                {{prostor.ime}}
                                % if prostor.stevilo_zamujenih() != 0:
                                <span class="tag is-rounded is-danger is-light">{{prostor.stevilo_zamujenih()}}</span>
                                % else:
                                <span class="tag is-rounded is-info is-light">{{prostor.stevilo_neopravljenih()}}</span>
                                % end
                            </button>  
                         </form>
                        <form method="POST" action="/odstrani-prostor/">
                            <button class="button is-danger is-rounded is-light" name="indeks1" value="{{indeks}}">X</button>
                        </form>
                        %end
                        %end    
                </div>
            </form>
        </div>
        <div class="level-right">
                <div class="level-item">
                    <a class="button is-primary is-rounded" href="/dodaj-prostor/">Dodaj prostor</a>
                </div>
        </div>
    </nav>

        <p style="text-align: center; font-weight: bold;">Urejenje in pregled nad delom na objektu</p>
            % if vsa == 0:
                <p style="text-align: center">Nimate še nobenega dela.</p>
            % elif neopravljena > 4 and zamujena > 2:
                <p style="text-align: center">{{neopravljena}} del je neopravljenih, od tega jih zamuja {{zamujena}}.</p>
            % elif neopravljena > 4 and zamujena == 2:
                <p style="text-align: center">{{neopravljena}} del je neopravljenih, od tega 2 deli zamujata.</p>
            % elif neopravljena > 4 and zamujena == 1:
                <p style="text-align: center">{{neopravljena}} del je neopravljenih, od tega 1 delo zamuja.</p>
            % elif neopravljena > 4 and zamujena == 0:
                <p style="text-align: center">{{neopravljena}} del je neopravljenih, vendat Vam nobeno ne zamuja.</p>
            %elif neopravljena == 4 or neopravljena == 3 and zamujena > 2:
                <p style="text-align: center">{{neopravljena}} dela so neopravljena, od tega jih zamuja {{zamujena}}</p>
            %elif neopravljena == 4 or neopravljena == 3 and zamujena == 2:
                <p style="text-align: center">{{neopravljena}} dela so neopravljena, od tega 2 deli zamujata.</p>
            %elif neopravljena == 4 or neopravljena == 3 and zamujena == 1:
                <p style="text-align: center">{{neopravljena}} dela so neopravljena, od tega 1 delo zamuja.</p>
            %elif neopravljena == 4 or neopravljena == 3 and zamujena == 0:
                <p style="text-align: center">{{neopravljena}} dela so neopravljena, vendar nobeno ne zamuja.</p>
            % elif neopravljena == 2 and zamujena == 2:
                <p style="text-align: center">2 deli sta neopravljeni in zamujata.</p>
            % elif neopravljena == 2 and zamujena == 1:
                <p style="text-align: center">2 deli sta neopravljeni, 1 delo že zamuja.</p>
            % elif neopravljena == 2 and zamujena == 0:
                <p style="text-align: center">2 deli sta neopravljeni.</p>
            % elif neopravljena == 1 and zamujena == 1:
                <p style="text-align: center">1 delo je neopravljeno in zamuja.</p>
            % elif neopravljena == 1 and zamujena == 0:
                <p style="text-align: center">1 delo je neopravljeno.</p>
            % else:
                <p style="text-align: center">Super! Vsa dela so opravljena.</p>
            % end 

        <table class="table is-hoverable is-fullwidth">
            <thead>
                <td><label class="label">Dodaj novo delo</label>
                    <form method="POST" action="/dodaj/">
                        <td></td>
                        <td>
                            <div class="control has-icons-left">
                                <input class="input is-small" name="ime" type="text" placeholder="ime">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-clipboard-check"></i>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="control has-icons-left">
                                <input class="input is-small" name="opis" type="text" placeholder="opis">
                                <span class="icon is-small is-left">
                                    <i class="far fa-sticky-note"></i>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="control has-icons-left">
                                <input class="input is-small" type="text" name="tezavnost" placeholder="težavnost">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-dumbbell"></i>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="control has-icons-left">
                                <input class="input is-small" type="number" name="cena" placeholder="cena">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-money-bill"></i>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="control has-icons-left">
                                <input class="input is-small" type="text" name="material" placeholder="material">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-hammer"></i>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="control has-icons-left">
                                <input class="input is-small" type="date" id="rok" name="rok" placeholder="date">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </td>
                        <td>
                            <div class="field is-grouped">
                                <div class="control is-hovered">
                                    <button class="button is-primary is-light is-small is-rounded">Dodaj</button>
                                </div>
                            </div>
                        </td>
                        </div>
                    </form>
                </td>
            </thead>
            <tbody>
                <tr>
                    <th>Gradbena dela v prostoru</th>
                    <th>Ime</th>
                    <th>Opis</th>
                    <th>Rok</th>
                    <th>Cena</th>
                    <th>Material</th>
                </tr>
                
                % for indeks, delo in enumerate(kretenizem):
                    <tr>
                        <td>
                            <form method="POST" action="/opravi/">
                                <input type="hidden" name="indeks" value="{{indeks}}">
                                <button class="button is-white">
                                    <span class="icon is-small">
                                        % if delo.opravljeno:
                                            <i class="far fa-check-square"></i>
                                        % else:
                                            <i class="far fa-square"></i>
                                        % end
                                    </span>
                                </button>
                            </form>
                        </td>
                        <td>
                            % if delo.tezavnost == "lahko":
                            <p style="color:green; text-align: center;">{{delo.ime}}</p>
                            % elif delo.tezavnost == "srednje":
                            <p style="color:rgb(39, 18, 114); text-align: center;">{{delo.ime}}</p>
                            % elif delo.tezavnost == "težko":
                            <p style="color:tomato; text-align: center;">{{delo.ime}}</p>
                            % else:
                            <p style="text-align: center;">{{delo.ime}}</p>
                            % end
                        </td>
                        <td>
                            <p style="text-align: center;">{{delo.opis}}</p>
                        </td>
                        <td>
                            % if delo.rok and delo.zamuja():
                                <p style="color: tomato; text-align: center;">{{delo.rok}}</p>
                            % elif delo.rok and not delo.zamuja():
                                <p style="text-align: center;">{{delo.rok}}</p>
                            %end
                        </td>
                        <td style="text-align: center;">{{delo.cena}}</td>
                        <td style="text-align: center;">{{delo.material}}</td>
                        <td> 
                            <form method="POST" action="/odstrani/">
                                <button class="button is-danger is-rounded is-light is-small" name="indeks" value="{{indeks}}">Odstrani</button>
                            </form>
                        </td>
                    </tr>
                % end
            </tbody>
        </table>
    % else:
        Pozdravljeni v organizatorju gradbenih del. Nimate še nobenega prostora, zato ga najprej dodajte. 
        <div class="level-right">
            <div class="level-item">
                <a class="button is-primary is-rounded" href="/dodaj-prostor/">Dodaj prostor</a>
            </div>
        </div>
    
    % end
