% rebase("base.html")

<form method="POST">
    <div class="field">
        <label class="label">Uporabniško ime</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" name="uporabnisko_ime" type="text" placeholder="uporabniško ime" value="{{polja.get('uporabnisko_ime', '')}}">
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
        <label class="label">Ime objekta</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" name="ime_objekta" type="text" placeholder="ime objekta" value="{{polja.get('ime_objekta', '')}}">
        <span class="icon is-small is-left">
            <i class="fas fa-house"></i>
        </span>
        <label class="label">Začetni proračun</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" name="proračun" type="number" placeholder="začetni proračun" value="{{polja.get('ime_objekta', '')}}">
        <span class="icon is-small is-left">
            <i class="fas fa-money-bill"></i>
        </span>
        </div>
        % if "uporabnisko_ime" in napake:
            <p class="help is-danger">{{ napake["uporabnisko_ime"] }}</p>
        % end
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Registracija!</button>
        </div>
    </div>
</form>