<!DOCTYPE html>
<html>
    <body>
        <p>Trenutni prostor: <b>{{aktualni_prostor.ime}}</b></p>
        Izberite si prostor, ki ga želite organizirati:
        <ul>
            % for stevilka, prostor in enumerate(prostori):
                    <li>{{stevilka}}, {{prostor.ime}}</li>
                    <form method="POST" action="/zamenjaj-aktualni-prostor/">
                        <input type="hidden" name="indeks" value="{{stevilka}}">
                        <input type="submit" value="Ta prostor">
                    </form>
        </ul>
    </body>
</html>